<!DOCTYPE html>
<html>
    <head>
        <title>Książki o Pythonie</title>
    </head>
    <body>
        <h1>Lista książek do poduszki</h1>
        <p>Oto lista książek, która może cię zaciekawić.
           Kliknij na tytuł, żeby dowiedzieć się więcej na temat danej książki.</p>
        {% for book in book_list %}
        <a href="book/{{ book.id }}">{{book.title}}</a><br/>
        {% endfor %}
    </body>
</html>
