<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
      {% for key in book %}
      {{key}}: {{book[key]}}<br/>
      {% endfor %}
      <a href="/">Powrót</a>
    </body>
</html>
